<div class="row">
    <div class="col-12 col-sm-12 col-md-6 mb-4">
      <h3>Rangom</h3>
      <div class="jelveny_box1">
          <div class="jelveny_content1">
              <div class="achievement-box">
                  <h3>Super Achiever
                      <a tabindex="0" class="btn btn-sm" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
                      data-bs-custom-class="custom-popover" data-bs-title="Rangs"
                      data-bs-content="Beginner - 0-999 pont,\n Explorer - 1,000-2,999 pont, Challenger - 3,000-5,999 pont, Achiever - 6,000-9,999 pont, Elite Achiever - 10,000-14,999 pont, Master Achiever - 15,000-19,999 pont, Super Achiever - 20,000+ pont">*</a>
                      <p class="max_point">20000 pont</p>
                  </h3>
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress">
                          <p class="current_point">
                              <img id="star">20000/20000
                          </p>
                      </div>
                  </div>
              </div>
              <p class="jelveny_text">Legjobb heti teljesítmény: <b class="folyamat">100%-os célmegvalósítás</b></p>
          </div>
      </div>
  </div>
      <div class="col-12 col-sm-12 col-md-6 mb-4">
        <h3>Jelvényeim</h3>
        <div class="jelveny_box2">
            <div class="jelveny_content2" *ngIf="user_challenges.length > 0; else noBadges">
                <div class="jelveny_grid">
                    <div *ngFor="let user_challenge of user_challenges" class="jelveny_item">
                        <p class="jelveny_text"><img id="erem"> {{user_challenge.challengeName}} <span class="point">{{user_challenge.rewardPoints}} pont</span> </p>
                    </div>
                </div>
            </div>
            <ng-template #noBadges>
                <h5 class="NO_DATA">Még nincsenek jelvényeid!</h5>
            </ng-template>
        </div>
      </div>
  </div>