<div class="layout-container">
  <!-- Feladat hozzáadására szolgáló űrlap -->
  <div class="todo-creator">
    <h2>ToDo</h2>

    <label>Feladat:</label>
    <input type="text" [(ngModel)]="newTask.title" placeholder="Feladat címe">

    <label>Leírás:</label>
    <textarea id="descriptionArea" [(ngModel)]="newTask.description" style="resize: vertical; min-height: 10%;" placeholder="Feladat leírása"></textarea>

    <label>Határidő:</label>
    <input type="date" [(ngModel)]="newTask.dueDate" (change)="onDateChange($event)">

    <label>Prioritás:</label>
    <div class="priority-buttons">
      <button class="low" (click)="setPriority('Alacsony')" [class.active]="newTask.priority === 'Alacsony'">Alacsony</button>
      <button class="medium" (click)="setPriority('Közepes')" [class.active]="newTask.priority === 'Közepes'">Közepes</button>
      <button class="high" (click)="setPriority('Magas')" [class.active]="newTask.priority === 'Magas'">Magas</button>
    </div>

    <button class="get-started-button" (click)="addTask()">Feladat hozzáadása</button>
  </div>

  <!-- Kanban tábla -->
  <div class="kanban-board">
    <div class="kanban-column" *ngFor="let column of columns" (dragover)="onDragOver($event)" (drop)="onDrop($event, column)">
      
      <div class="kanban-column-header">
        <h3>{{ column.name }}</h3>
        <!-- Feladatok száma -->
        <div class="task-count">{{ column.tasks.length }} feladat</div>
      </div>

      <div class="kanban-tasks" 
           (drop)="onDrop($event, column)" 
           (dragover)="onDragOver($event)" 
           (dragenter)="onDragEnter($event)">
        <div *ngFor="let task of column.tasks" 
             class="kanban-task" 
             draggable="true" 
             (dragstart)="onDragStart($event, task, column)">
          
          <h4><strong>Cím:</strong> {{ task.title }}</h4>
          <p>{{ task.description }}</p>
          <p><strong>Határidő:</strong> {{ task.dueDate | date:'yyyy. MM. dd.' }}</p>

          <!-- Prioritás szín megjelenítése csak a kis pöttyön -->
          <p *ngIf="task.priority">
            <span class="priority-box" [ngClass]="getPriorityClass(task.priority)"></span>
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>
