header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    text-align: center;
}
//Linkek
.nav-link.active {
    color: #627966;
    background-color: #F5F5F7;
}
.nav-link {
    color: #9F9FA1;
}
.nav-item-tab, .nav-item {
    display: flex;
    background-color: #F5F5F7;
    justify-content: center;
}
.nav-item-tab {
    border-radius: 0px 30px 0px 0px;
}
.d-none {
    display: none;
}
html, body {
    margin: 0;
}
.tab-content, html, body {
    width: auto;
    height: auto;
}
.foBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}
.alBox {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.foBox h1 {
    text-align: center;
    margin-bottom: 50px;
}
.cim{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
.row > .mb-3 {
    flex: 1;
    min-width: 45%;
}
.challengeInput {
    background-color: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    height: 60px;
}
textarea {
    background-color: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    height: 100px;
}
.badge-select {
    width: 100%;
}
.friend-select {
    width: 100%;
}
.badge-option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: medium;
    font-weight: bold;
}
.friend-option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: medium;
    font-weight: bold;
}
.badge-option img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 0 auto;
}
.friend-option img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0 auto;
}
.form-check-reverse label {
    display: flex;
    align-items: center;
    order: 1;
    font-size: medium;
    font-weight: bold;
    margin-left: 10px;
}
.form-check-reverse .form-check-input {
    order: 2;
    font-size: 23px;
    border: 1px solid darkgray;
    position: absolute;
}
.form-check-input {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.form-check-input:checked {
    transform: scale(1.2);
    background-color: #4CAF50;
    box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.5);
    border-color: #4CAF50;
}
.form-switch {
    transition: background-color 0.3s;
}
.form-switch {
    transition: transform 0.3s;
}
.form-switch .form-check-input:checked {
    background-color: #4CAF50;
}
.letrehozas {
    display: flex;
    background-color: #488853;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    margin-left: auto;
}
.add-button{
    display: flex;
    background-color: #488853;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    margin-left: auto;
}
.mentes{
    display: flex;
    background-color: #488853;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    margin-left: auto;
}
.challengeBox{
    width: 40vw;
    padding: 10px;
}
.friendBox{
    width: 30vw;
    padding: 10px;
}
@media (max-width: 600px) {
    .NO_DATA{
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        text-align: center;
        width: 100%;
    }
}
.NO_DATA{
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}
.NO_Challenge{
    display: flex;
    height: 50%;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    margin-left: 100px;
    background-color: #F5F5F7;
    margin-top: 150px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
span {
    margin-left: 10px;
}
.circle-image img {
    object-fit: cover;
    border: 2px solid #ccc;
}
.barat_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.barat_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.barat_text {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 5px;
    width: 100%;
}
.username {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
@media (min-width: 769px) {
    .username{
        font-size: 15px;
    }
}
#profile{
    background: url('/assets/images/profileKep.png') no-repeat center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 12vw;
    max-width: 60px;
    height: 12vw;
    max-height: 60px;
    padding: 0.3px;
    border-radius: 50%;
}
@media (min-width: 769px) {
    #profile{
        width: 25vw;
        max-width: 60px;
        height: 25vw;
        max-height: 60px;
    }
}
i{
    font-size: 25px;
}
.del{
    display: flex;
    background-color: #FA0202;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-left: auto;
}
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}
.popup p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.confirm-button {
    background-color: #4caf50;
    color: white;
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.confirm-button:hover {
    background-color: #45a049;
}
.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.cancel-button:hover {
    background-color: #e53935;
}
.modal-container {
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
}
@media (max-width: 1200px){
    #profile{
        width: 10vw;
        height: 10vw;
        max-width: 60px;
        max-height: 60px;
    }
    .username{
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    #profile{
        width: 15vw;
        height: 15vw;
        max-width: 60px;
        max-height: 60px;
    }
    .username{
        font-size: 15px;
        font-weight: bold;
        flex-grow: 1;
    }
    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .alBox {
        display: flex;
        flex-direction: column;
    }
    .challengeBox{
        width: 60vw;
        padding: 10px;
    }
    .friendBox{
        width: 60vw;
        padding: 10px;
    }
    .NO_Challenge{
        padding: 100px 10px 100px 10px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .barat_box{
        width: 100%;
        flex-direction: column;
    }
    .barat_text {
        flex-direction: row;
        text-align: start;
        font-size: 20px;
    }
    #profile{
        width: 15vw;
        height: 15vw;
        max-width: 60px;
        max-height: 60px;
    }
    .buttons {
        flex-direction: row;
    }
    .popup {
        width: 80%;
        margin: 0 auto;
        margin-left: 20%;
    }
    .NO_Challenge{
        padding: 100px 10px 100px 10px;
    }
}
@media (max-width: 600px) {
    .barat_box{
        width: 100%;
        flex-direction: column;
    }
    #profile{
        width: 12vw;
        height: 12vw;
        max-width: 60px;
        max-height: 60px;
    }
    .username {
        font-size: 15px;
        font-weight: bold;
        flex-grow: 1;
    }
    .challengeBox .row{
        flex-direction: column;
    }
    i{
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .barat_box{
        flex-direction: column;
    }
    #profile {
        width: 15vw;
        height: 15vw;
        max-width: 45px;
        max-height: 45px;
    }
    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width: 360px) {
    header,
    .NO_DATA,
    .NO_Challenge,
    h3,
    .barat_box,
    .barat_content,
    .barat_text {
        justify-content: start;
        text-align: center !important;
        margin-left: 0 !important;
    }
    .barat_box {
        margin-left: 0 !important;
    }
    .barat_content {
        align-items: flex-start !important;
    }
    .buttons {
        flex-direction: column !important;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .username{
        font-size: 13px;
        text-align: left;
    }
    #profile {
        width: 20vw;
        height: 20vw;
        max-width: 40px;
        max-height: 40px;
    }
    .del {
        padding: 5px;
    }
    span {
        margin-left: 10px;
    }
    .form-check-reverse .form-check-input {
        order: 2;
        font-size: 20px;
        border: 1px solid darkgray;
        position: absolute;
    }
    .barat_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .barat_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
    }
    .barat_text {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 5px;
        width: 100%;
    }
}
.confirm-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.cancel-button {
    background-color: #E53935;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.del:hover {
    background: linear-gradient(145deg, #f44336, #b71c1c);
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(244, 67, 54, 0.3);
    cursor: pointer;
}
.confirm-button:hover {
    background: linear-gradient(145deg, #66bb6a, #388e3c);
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(76, 175, 80, 0.3);
    cursor: pointer;
}
.cancel-button:hover {
    background: linear-gradient(145deg, #f44336, #b71c1c);
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(244, 67, 54, 0.3);
    cursor: pointer;
}