<h1 class="page-title">Szokáskövető</h1>

<div class="page-layout">
  <!-- Tracker form -->
  <div class="tracker-form">
    <label for="habit">Válassz trackert:</label>
    <select [(ngModel)]="selectedHabit">
      <option *ngFor="let habit of habitList" [ngValue]="habit">{{ habit.habitName }}</option>
    </select>

    <label>
      <input type="checkbox" [(ngModel)]="completed" />
      Teljesítetted a napi célt?
    </label>

    <label for="value">Napi teljesítendő érték</label>
    <input type="number" disabled />

    <label for="unit">Mértékegység:</label>
    <select disabled>
      <option *ngFor="let u of units" [value]="u">{{ u }}</option>
    </select>

    <label for="startDate">Kezdődátum:</label>
    <input type="date" disabled />

    <label for="interval">Szokás hossza (nap)</label>
    <input type="number" disabled />

    <label for="completedDays">Teljesített napok</label>
    <input type="number" disabled />

    <button *ngIf="selectedHabit && selectedHabit.status !== 'active'" (click)="activateHabit()">Aktiválás</button>
    <button (click)="isPopupOpen = true">Új szokás létrehozása</button>
  </div>

  <!-- Diagram közvetlen flex gyerekként -->
  <div class="chart-wrapper">
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title mb-0">Visszajelzések</h5>
        <div class="chart-container">
          <canvas id="habitChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pop-up komponens -->
<app-newhabit
  *ngIf="isPopupOpen"
  [userId]="user.id"
  [units]="units"
  (habitCreated)="handleNewHabit($event)"
  (close)="closeNewHabitModal()">
</app-newhabit>
