<h1 class="page-title">Szokáskövető</h1>

<div class="page-layout">
  <div class="tracker-form">
    <label for="habit">Válassz trackert:</label>
  <select [(ngModel)]="selectedHabit" (change)="onHabitChange()">
  <option *ngFor="let habit of habitList" [ngValue]="habit">{{ habit.habitName }}</option>
</select>


    <label>
      <input type="checkbox" [(ngModel)]="completed" />
      Teljesítetted a napi célt?
    </label>

    <label for="value">Érték:</label>
    <input type="number" [(ngModel)]="value" placeholder="Pl. 2.5" />

    <label for="unit">Mértékegység:</label>
    <select [(ngModel)]="unit">
      <option *ngFor="let u of units" [value]="u">{{ u }}</option>
    </select>

    <label for="startDate">Kezdődátum:</label>
    <input type="date" [(ngModel)]="startDate" />

    <label for="interval">Napok száma:</label>
    <input type="number" [(ngModel)]="intervalDays" placeholder="Pl. 7" />


    <button (click)="submit()">Felvétel</button>
    <button *ngIf="selectedHabit && selectedHabit.status !== 'active'" (click)="activateHabit()">Aktiválás</button>


  </div>

  <div class="calendar">
    <div class="header">
      <button (click)="prevMonth()">
        <img src="./assets/icons/left_arrow.png" alt="előző">
      </button>
      <h2>{{ months[currentMonth] }} {{ currentYear }}</h2>
      <button (click)="nextMonth()">
        <img src="./assets/icons/right_arrow.png" alt="következő">
      </button>
    </div>

    <div class="weekdays">
      <div *ngFor="let day of weekdays">{{ day }}</div>
    </div>

    <div class="days">
      <div *ngFor="let day of calendarDays"
           class="day"
           [class.inactive]="day.inactive"
           (click)="showDayDetails(day)"
           (touchstart)="onTouchStart($event, day)"
           (touchend)="onTouchEnd($event, day)">
        <span>{{ day.date }}</span>

        <!-- Dots for events -->
        <div class="dots">
          <div *ngFor="let dot of day.dots"
               class="dot"
               [ngStyle]="{ 'background-color': dot.color }"
               [title]="dot.title"></div>
        </div>
      </div>
    </div>
  </div>
</div>
