<div class="header mt-5 mb-5">
    <header>
        <h1>"Felhasználó neve"</h1>
    </header>
</div>
<div class="col-5 col-sm-5 col-md-5.5 col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Statisztika</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jelvények</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Barátok</a>
        </li>
        <li class="nav-item-tab">
            <a class="nav-link" href="#">Profil módosítása</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="statisztika-tab-pane" role="tabpanel">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <h3>Teljesítményeim</h3>
                <div class="box">
                    <div class="teljes_content">
                        <p><img id="elvegzett">120 <span class="folyamat">Elvégzett</span></p>
                        <p><img id="elmaradt">120 <span class="folyamat">Elmaradt</span></p>
                        <p><img id="teljesitve">120 <span class="folyamat">Teljesítve</span></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <h3>Eredményeim</h3>
                <div class="box">
                    <div class="eredmeny_content">
                        <p>30 napos produktivitási kihívás: <br> 25 nap teljesítve</p>
                        <p>Heti 3 új feladat kihívás teljesítése: <br> 90%</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <h3>Szokásaim</h3>
                <div class="box">
                    <div class="szokas_content">
                        <p>Edzés: <b class="folyamat"> Heti átlag 4 alkalom</b></p>
                        <p>Vízfogyasztás: <strong class="folyamat">Napi 2 liter átlag</strong></p>
                        <p>Meditáció: <strong class="folyamat">15 perc naponta, 90%-os teljesítettség</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="jelveny-tab-pane" role="tabpanel"></div>
    <div class="tab-pane fade" id="barat-tab-pane" role="tabpanel"></div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"></div>
</div>