<div class="header mt-5 mb-5">
    <header>
        <h1>"Felhasználó neve"</h1>
    </header>
</div>
<div class="col-4 col-sm-10 col-md-8 col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button 
            class="nav-link" 
            [class.active]="activeTab === 'statisztika'"
            (click)="setActiveTab('statisztika')"
          >Statisztika</button>
        </li>
        <li class="nav-item" role="presentation">
            <button 
            class="nav-link" 
            [class.active]="activeTab === 'jelveny'"
            (click)="setActiveTab('jelveny')"
          >Jelvények</button>
        </li>
        <li class="nav-item" role="presentation">
            <button 
            class="nav-link" 
            [class.active]="activeTab === 'barat'"
            (click)="setActiveTab('barat')"
          >Barátok</button>
        </li>
        <li class="nav-item-tab" role="presentation">
            <button 
        class="nav-link" 
        [class.active]="activeTab === 'profile'"
        (click)="setActiveTab('profile')"
      >Profil módosítása</button>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" [class.d-none]="activeTab !== 'statisztika'" id="statisztika-tab-pane" role="tabpanel" aria-labelledby="statisztika-tab" tabindex="0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 mb-4">
                <h3>Teljesítményeim</h3>
                <div class="box">
                    <div class="teljes_content">
                        <p><img id="elvegzett">120 <span class="folyamat">Elvégzett</span></p>
                        <p><img id="elmaradt">120 <span class="folyamat">Elmaradt</span></p>
                        <p><img id="teljesitve">120 <span class="folyamat">Teljesítve</span></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 mb-4">
                <h3>Eredményeim</h3>
                <div class="box">
                    <div class="eredmeny_content">
                        <p>30 napos produktivitási kihívás: <br> <b class="folyamat">25 nap teljesítve</b></p>
                        <p>Heti 3 új feladat kihívás teljesítése: <br> <b class="folyamat">90%</b></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 mb-4">
                <h3>Szokásaim</h3>
                <div class="box">
                    <div class="szokas_content">
                        <p>Edzés: <b class="folyamat"> Heti átlag 4 alkalom</b></p>
                        <p>Vízfogyasztás: <b class="folyamat">Napi 2 liter átlag</b></p>
                        <p>Meditáció: <b class="folyamat">15 perc naponta, 90%-os teljesítettség</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" [class.d-none]="activeTab !== 'jelveny'" id="jelveny-tab-pane" role="tabpanel" aria-labelledby="jelveny-tab" tabindex="0"></div>
    <div class="tab-pane" [class.d-none]="activeTab !== 'barat'" id="barat-tab-pane" role="tabpanel" aria-labelledby="barat-tab" tabindex="0">
        <h1>Barátok</h1>
    </div>
    <div class="tab-pane" [class.d-none]="activeTab !== 'profile'" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"></div>
</div>