<div class="header">
    <header>
        <h1>Felhasználó neve</h1>
    </header>
</div>
<div class="container">
    <div class="col-3 col-sm-4 col-md-6 col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Statisztika</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Jelvények</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Barátok</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil módosítása</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="statisztika-tab-pane" role="tabpanel">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <h3>Teljesítményeim</h3>
                    <div class="box">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sequi, iure quas aliquam et praesentium, quam quae itaque sint suscipit sed nostrum placeat obcaecati illum quibusdam fuga totam! Illum, dolor?</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <h3>Eredményeim</h3>
                    <div class="box">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sequi, iure quas aliquam et praesentium, quam quae itaque sint suscipit sed nostrum placeat obcaecati illum quibusdam fuga totam! Illum, dolor?</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <h3>Szokásaim</h3>
                    <div class="box">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sequi, iure quas aliquam et praesentium, quam quae itaque sint suscipit sed nostrum placeat obcaecati illum quibusdam fuga totam! Illum, dolor?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="jelveny-tab-pane" role="tabpanel"></div>
        <div class="tab-pane fade" id="barat-tab-pane" role="tabpanel"></div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"></div>
    </div>
</div>