html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Háttérszín hozzáadása */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
}

.row {
    width: 200vh !important; /* Szélesebb konténer */
    max-width: 95%; /* Maximalizálás, hogy ne legyen túl széles */
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroimage {
    background: url('/assets/images/login.jpg') no-repeat center center;
    background-size: 50% !important;
    background-color: #FAF4F0; /* A háttérkép kisebb lesz, de nem tölti ki teljesen az elemet */
    background-position: center;
    background-repeat: no-repeat;
    width: 140vh !important;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
}


.text-white {
    font-size: 2rem;
    font-weight: bold;
}

.card {
    width: 50vh !important; /* Szélesebb lett */
    height: 30vh; /* Kissé csökkentett magasság */
   
    border: none;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .row {
        flex-wrap: nowrap;
    }
    #heroimage, #registration-form {
        width: 60%; /* Nagyobb szélesség */
    }
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    #heroimage {
        display: none;
    }
    #registration-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; /* Mobilon is nagyobb */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .card {
      
        background-color: #FAF4F0;
        width: 100% !important;
    }

    .box{
        width: 40vh;
    }
}

@media (max-width: 470px) {
    

    .box{
        width: 100%;
    }
}