<div class="feed-bg">
  <!-- Középre igazított feed doboz -->
  <div class="feed-wrapper">
    <div class="feed-container">
      <!-- Új posztok hozzáadásához komponens -->
      <app-newpost></app-newpost>
    
      <!-- Profil bejegyzések megjelenítése -->
      <app-profile-bejegyzes></app-profile-bejegyzes>
    </div>
  </div>
</div>

<app-alert-modal
  [visible]="modalVisible"
  [type]="modalType"
  [message]="modalMessage"
  [invalidFields]="invalidFields"
  [buttons]="modalButtons"
  (close)="onModalClose()">
</app-alert-modal>