<div class="layout-container">
  <div class="todo-creator">
    <h2>ToDo</h2>
    
    <label>Feladat:</label>
    <input type="text" [(ngModel)]="newTask.title" placeholder="Feladat címe">
    
    <label>Leírás:</label>
    <textarea id="descriptionArea" [(ngModel)]="newTask.description"  style="resize: vertical; min-height: 10%;" placeholder="Feladat leírása"></textarea>
    
    <label>Határidő:</label>
    <input type="date" [(ngModel)]="newTask.dueDate" (change)="onDateChange($event)">

    
    <label>Prioritás:</label>
    <div class="priority-buttons">
      <button class="low" (click)="setPriority('Alacsony')" [class.active]="newTask.priority === 'Alacsony'">Alacsony</button>
      <button class="medium" (click)="setPriority('Közepes')" [class.active]="newTask.priority === 'Közepes'">Közepes</button>
      <button class="high" (click)="setPriority('Magas')" [class.active]="newTask.priority === 'Magas'">Magas</button>
    </div>
    
    <button class="get-started-button" (click)="addTask()">Feladat hozzáadása</button>
  
  </div>

  <div class="kanban-board">
      <div class="kanban-column" *ngFor="let column of columns"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, column)">
          
          <h3>{{ column.name }}</h3>
          
          <div class="kanban-task" *ngFor="let task of column.tasks"
               [draggable]="true"
               (dragstart)="onDragStart($event, task, column)">
               
              <h4>{{ task.title }}</h4>
              <p>{{ task.description }}</p>
              <p><strong>Határidő:</strong> {{ task.dueDate }}</p>
              <p><strong>Prioritás:</strong> <span [class]="task.priority.toLowerCase()">{{ task.priority }}</span></p>
          </div>
      </div>
  </div>
</div>