<!-- newpostmodal.component.html -->

<div class="popup-overlay">
  <div class="popup-content">
    <div class="popup-header">
      <span class="close-btn" (click)="closeModal()">Mégsem</span> <!-- Bezáró gomb -->
      <h3 class="post-title">Új poszt</h3> <!-- Cím -->
    </div>

    <div class="user-info">
      <img src="assets/avatar.png" alt="Avatar" class="avatar" />
      <div>
        <textarea [(ngModel)]="postContent" placeholder="Mi jár a fejedben..." class="post-input"></textarea>
      </div>
    </div>

    <div class="upload-section">
      <input
        type="file"
        #fileInput
        accept="image/*"
        hidden
        (change)="onFileSelected($event)"
      />
      <button class="upload-btn" (click)="fileInput.click()">📷</button>
      <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
    
      <!-- Előnézeti kép -->
      <div *ngIf="imagePreviewUrl" class="image-preview">
        <img [src]="imagePreviewUrl" alt="Előnézet" />
      </div>
    </div>
    
    

    <button class="post-button" (click)="submitPost()">Közzététel</button> <!-- Beküldés gomb -->
  </div>
</div>
