header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 480px) {
    header {
        display: block;
    }
}
#felhasznalo{
    background: url('/assets/images/profileKep.png') no-repeat center/cover;
    display: block;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 150px;
    height: 50vw;
    max-height: 150px;
    padding: 0.3px;
    border-radius: 50%;
    margin: 0 auto;
}
//Linkek
.nav-link.active {
    color: #627966;
    background-color: #F5F5F7;
}
.nav-link {
    color: #9F9FA1;
}
.nav-item-tab, .nav-item {
    display: flex;
    background-color: #F5F5F7;
    justify-content: center;
}
.nav-item-tab {
    border-radius: 0px 30px 0px 0px;
}
.nav-item {
    width: 100px;
}
.d-none {
    display: none;
}
html, body {
    margin: 0;
}
.tab-content, html, body {
    width: auto;
    height: auto;
}
h3{
    padding: 20px;
}
span {
    margin-right: 20px;
}
span {
    margin-left: 20px;
}
#profile-tab-pane {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F7;
    padding: 3vh;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.profile_box2 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 90vw;
    padding: 10px;
}
@media (min-width: 769px) {
    .profile_box2 {
        width: 45vw;
        padding: 0;
    }
}
.profile_box1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 769px) {
    .profile_box1 {
        margin-top: 15%;
    }
}
.profile_content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.profile_content2 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}
.modositas {
    display: flex;
    background-color: #488853;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    margin-left: auto;
}
.mentes {
    display: flex;
    background-color: #488853;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    margin-left: auto;
}
input {
    background-color: #F8F8F8;
    border-radius: 25px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    height: 60px;
}
.profilekep_modositas {
    border-radius: 100px;
    color: #98B09C;
    border: 5px solid;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}
#profilekep {
    background: url('/assets/images/profileKep.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 150px;
    height: 100vw;
    max-height: 150px;
    padding: 0.3px;
    border-radius: 50%;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .profile_box2 {
        width: 80vw;
    }
    .profile_box1 {
        width: 100%;
        max-width: 100%;
        margin: 20px;
    }
    .profile_content1 {
        flex-direction: row;
        gap: 20px;
    }
    .profilekep_modositas{
        border-radius: 100px;
        color: #98B09C;
        border: 5px solid;
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        width: 250px;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .profile_box2 {
        width: 80vw;
        flex-direction: column;
        padding: 10px;
    }
    .profile_box1 {
        width: 80vw;
    }
    .profile_content1 {
        flex-direction: row;
        gap: 20px;
    }
    .profilekep_modositas{
        border-radius: 100px;
        color: #98B09C;
        border: 5px solid;
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        display: flex;
        width: 150px;
        justify-content: center;
        align-items: center;
    }
    #profilekep{
        background-image: url('/assets/images/profileKep.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 150px;
        height: 100vw;
        max-height: 150px;
        padding: 0.3px;
        border-radius: 50%;
        margin: auto;
    }
}
@media (max-width: 480px) {
    .profile_box2 {
        width: 70vw;
        flex-direction: column;
        padding: 10px;
    }
    .profile_box1 {
        width: 80vw;
        margin-left: 0 auto !important;
    }
    .profile_content1 {
        flex-direction: row;
        gap: 20px;
    }
    .profilekep_modositas{
        border-radius: 100px;
        color: #98B09C;
        border: 5px solid;
        margin-right: 70px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        display: flex;
        width: 150px;
    }
    #profilekep{
        background-image: url('/assets/images/profileKep.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        width: 75vw;
        max-width: 80px;
        height: 75vw;
        max-height: 80px;
        padding: 0.3px;
        border-radius: 50%;
        margin-left: 0 auto;
    }
}
@media (max-width: 380px) {
    .profile_box2 {
        width: 70vw;
        flex-direction: column;
        padding: 10px;
    }
    .profile_box1 {
        width: 20vw;
    }
    .profile_content1 {
        flex-direction: column;
        margin-left: 0 auto;
        gap: 20px;
    }
    .profilekep_modositas{
        border-radius: 100px;
        color: #98B09C;
        border: 5px solid;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        width: 210px;
    }
    #profilekep{
        background-image: url('/assets/images/profileKep.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        width: 75vw;
        max-width: 150px;
        margin-left: 30px;
        height: 75vw;
        max-height: 150px;
        padding: 0.3px;
        border-radius: 50%;
    }
}