
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 mb-4">
        <div class="bejegyzes_box">
            <div class="bejegyzes_content">
                <header class="bejegyzes_fejlec">
                    <img id="bejegyzes_profile">
                    <b class="leiras">"Felhasználó neve" <p>"Bejegyzés képpel"</p></b>
                    <p>
                        <button class="btn toggle-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">...</button>
                    </p>
                    <div class="collapse collapse-left" id="collapse1">
                        <div class="card">
                            <button><i class="bi bi-pencil"></i>Bejegyzés módosítása</button>
                            <hr>
                            <button><i class="bi bi-trash"></i>Bejegyzés törlése</button>
                        </div>
                    </div>
                </header>
                <div class="bejegyzes">
                    <img id="bejegyzes_kep">
                </div>
                <header class="bejegyzes_fejlec">
                    <img id="bejegyzes_profile">
                    <b class="leiras">"Felhasználó neve" <p>"Kép nélküli bejegyzés"</p></b>
                    <p>
                        <button class="btn toggle-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">...</button>
                    </p>
                    <div class="collapse collapse-left" id="collapse2">
                        <div class="card">
                            <button><i class="bi bi-pencil"></i>Bejegyzés módosítása</button>
                            <hr>
                            <button><i class="bi bi-trash"></i>Bejegyzés törlése</button>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>