<div class="tracker-container"> 
  <div class="gym-tracker-card">
    <h2>Edzéskövető</h2>
  
    <div class="form-group">
      <label for="gym-completed">Teljesítetted a napi edzést?</label>
      <input type="checkbox" id="gym-completed" [(ngModel)]="gymCompleted" />
    </div>
  
    <div class="form-group">
      <label for="gym-amount">Edzés mennyisége (óra)</label>
      <input type="number" id="gym-amount" [(ngModel)]="gymAmount" placeholder="Pl. 1" />
    </div>
  
    <div class="form-group">
      <mat-form-field appearance="fill" class="wide-date">
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="gymPicker" [(ngModel)]="gymDate" />
        <mat-datepicker-toggle matSuffix [for]="gymPicker"></mat-datepicker-toggle>
        <mat-datepicker #gymPicker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div class="button-row">
      <button (click)="saveGym()">Felvétel</button>
    </div>
  </div>
  

  <div class="calendar">
    <div class="header">
      <button (click)="prevMonth()">
        <img src="./assets/icons/left_arrow.png" alt="előző">
      </button>
      <h2>{{ months[currentMonth] }} {{ currentYear }}</h2>
      <button (click)="nextMonth()">
        <img src="./assets/icons/right_arrow.png" alt="következő">
      </button>
    </div>

    <div class="weekdays">
      <div *ngFor="let day of weekdays">{{ day }}</div>
    </div>

    <div class="days">
      <div *ngFor="let day of calendarDays"
           class="day"
           [class.inactive]="day.inactive"
           (click)="showDayDetails(day)"
           (touchstart)="onTouchStart($event, day)"
           (touchend)="onTouchEnd($event, day)">
        <span>{{ day.date }}</span>

        <div class="dots">
          <div *ngFor="let dot of day.dots"
               class="dot"
               [ngStyle]="{ 'background-color': dot.color }"
               [title]="dot.title"></div>
        </div>
      </div>
    </div>
  </div>
</div>