html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    width: 100vw;
  }
  
  /* A container-fluid elem teljes szélességű és magasságú */
  .container-fluid {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
  
  /* A row elem középre igazítja a tartalmat */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  /* Hero image alapértelmezett stílusai */
  #heroimage {
    background: url('/assets/images/login.jpg') no-repeat center center;
    background-size: 50%;
    background-color: #f9f4f0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 0;
    position: relative;
    //animation: moveBackground 30s linear infinite, floatEffect 3s ease-in-out infinite;
  }
  
  /* Mixin a welcome-wrapper stílusainak definiálásához */
  @mixin welcome-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98.3vh;
    width: 99vw;
    overflow: hidden;
    background: #FFFFFF;
    padding: 5vw;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
    background-size: cover;
    position: relative;
  }
  
  /* A welcome-wrapper osztály alkalmazása, ha szükséges */
  .welcome-wrapper {
    @include welcome-styles;
  }
  
  #registration-form form button:nth-child(3) {
    width: 30vw !important;
    height: 6vh !important;
    font-size: 100%;
   margin-top: 1vw;}
  

  /* Registration form alapértelmezett stílusai */
  #registration-form {
    display: flex;
    flex-direction: column;      /* Az űrlap elemei oszlopban jelennek meg */
    justify-content: center;     /* Függőleges középre igazítás */
    align-items: center;         /* Vízszintes középre igazítás */
    width: 50%;
    height: 100vh;
    border: none;
    font-size: 120%;
    padding: 0px;
  
    /* 720px-től alkalmazzuk a welcome-wrapper stílusait */
    @media (min-width: 720px) {
      @include welcome-styles;
    }
  }
  
  #registration-form input {
    width: 30vw !important;
    height: 5vh !important;
    font-size: 100%;
    margin-top: 2%;
    background-color: #F5F5F5 !important;
    border: none;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.342);
  }
  
  #registration-form form button:nth-child(2) {
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
  }
  
  #registration-form form button:nth-child(5) {
    width: 30vw !important;
    height: 10vh !important;
    font-size: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    align-self: center !important;
    background-color: #3B3E3B;
  }
  
  /* Reszponzív módosítások */
  @media (max-width: 1200px) {
    /* Bal felső blob */
    .welcome-wrapper::before {
      width: 400px !important;
      height: 440px !important;
      top: -150px !important;
      left: -150px !important;
    }
  
    /* Jobb alsó blob */
    .welcome-wrapper::after {
      width: 400px !important;
      height: 450px !important;
      bottom: -100px !important;
      right: -100px !important;
    }
  
    #registration-form {
      width: 100%;
      height: 100vh;
      font-size: 120% !important;
    }
  
    #registration-form input {
      font-size: 100% !important;
      height: 4vh !important;
    }
  
    #registration-form form button:nth-child(5) {
      font-size: 70% !important;
      height: 4vh !important;
    }
  }
  
  @media (max-width: 850px) {
    /* Bal felső blob */
    .welcome-wrapper::before {
      width: 300px !important;
      height: 340px !important;
      top: -100px !important;
      left: -100px !important;
    }
  
    /* Jobb alsó blob */
    .welcome-wrapper::after {
      width: 300px !important;
      height: 350px !important;
      bottom: -100px !important;
      right: -100px !important;
    }
  }
  
  @media (max-width: 767px) {
    .row {
      flex-direction: column;
    }
  
    #registration-form {
      width: 100%;
      height: 100vh;
      background-color: #f9f4f0;
    }
  
    #heroimage {
      display: none;
    }
  
    #registration-form input {
      width: 60vw !important;
      height: 5vh;
    }
  
    #registration-form form button:nth-child(5) {
      width: 70vw !important;
      height: 5vh !important;
    }
  
    #registration-form form button:nth-child(2) {
      background-color: #F5F5F5;
    }

    
  }
  
  @media (max-width: 540px) {
    #registration-form {
      width: 100%;
      height: 100vh;
      font-size: 120% !important;
    }
  
    #registration-form input {
      font-size: 80%;
      height: 6vh !important;
    }
  
    #registration-form form button:nth-child(5) {
      font-size: 60%;
      height: 7vh !important;
    }
  }
  
  @media (max-width: 470px) {
    #registration-form {
      width: 100%;
      height: 100vh;
      font-size: 120% !important;
    }
  
    #registration-form input {
      font-size: 90% !important;
      height: 5vh !important;
    }
  
    #registration-form form button:nth-child(5) {
      font-size: 60%;
      height: 6vh !important;
    }
  }
  
  @media (max-height: 820px) {
    /* Bal felső blob */
    .welcome-wrapper::before {
      width: 300px !important;
      height: 340px !important;
      top: -150px !important;
      left: -150px !important;
    }
  
    /* Jobb alsó blob */
    .welcome-wrapper::after {
      width: 300px !important;
      height: 350px !important;
      bottom: -100px !important;
      right: -100px !important;
    }
  
    #registration-form input {
      font-size: 90% !important;
      height: 6vh !important;
    }
  
    #registration-form form button:nth-child(5) {
      font-size: 60%;
      height: 7vh !important;
    }
  }
  
  /* SVG Blob animáció */
  @keyframes circular-motion {
    0% {
      transform: rotate(0deg) scale(1) translate(5px, 5px);
    }
    25% {
      transform: rotate(90deg) scale(1.05) translate(-5px, -5px);
    }
    50% {
      transform: rotate(180deg) scale(1.1) translate(5px, -5px);
    }
    75% {
      transform: rotate(270deg) scale(1.05) translate(5px, 5px);
    }
    100% {
      transform: rotate(360deg) scale(1) translate(5px, 5px);
    }
  }
  
  /* Bal felső blob */
  .welcome-wrapper::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 650px;
    background: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23627966" d="M45.7,-47C60.6,-30.9,74.8,-15.4,74.5,-0.3C74.2,14.8,59.4,29.7,44.5,44.9C29.7,60.1,14.8,75.7,-2.4,78.1C-19.7,80.6,-39.4,69.9,-55.6,54.6C-71.8,39.4,-84.4,19.7,-80.6,3.8C-76.8,-12.1,-56.5,-24.2,-40.4,-40.3C-24.2,-56.3,-12.1,-76.4,1.7,-78C15.4,-79.7,30.9,-63,45.7,-47Z" transform="translate(100 100)"/></svg>');
    background-size: cover;
    pointer-events: none;
    opacity: 0.7;
    top: -310px;
    left: -260px;
    animation: circular-motion 15s linear infinite;
  }
  
  /* Jobb alsó blob */
  .welcome-wrapper::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 620px;
    background: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23627966" d="M45.7,-47C60.6,-30.9,74.8,-15.4,74.5,-0.3C74.2,14.8,59.4,29.7,44.5,44.9C29.7,60.1,14.8,75.7,-2.4,78.1C-19.7,80.6,-39.4,69.9,-55.6,54.6C-71.8,39.4,-84.4,19.7,-80.6,3.8C-76.8,-12.1,-56.5,-24.2,-40.4,-40.3C-24.2,-56.3,-12.1,-76.4,1.7,-78C15.4,-79.7,30.9,-63,45.7,-47Z" transform="translate(100 100)"/></svg>');
    background-size: cover;
    opacity: 0.7;
    bottom: -310px;
    right: -260px;
    animation: circular-motion 15s linear infinite;
  }
  