.chat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background: #f4f4f4;
  padding: 10px;
}

.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.message.sender {
  justify-content: flex-end;
}

.bubble {
  padding: 10px;
  border-radius: 12px;
  max-width: 60%;
  position: relative;
}

.bubble span {
  display: block;
  word-wrap: break-word;
}

.bubble small {
  display: block;
  text-align: right;
  font-size: 0.8em;
  color: #888;
}

.message.sender .bubble {
  background-color: green; /* Zöld szín a saját üzenetekhez */
  color: white;
}

.message:not(.sender) .bubble {
  background-color: #f1f1f1; /* Fehér vagy világos szürke szín mások üzeneteihez */
  color: black;
}

.input-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
