<div class="mt-3 mb-5">
  <header>
    <div class="circle-image">
      <img [src]="imagePreviewUrl"/>
    </div>
    <ng-container *ngIf="user && user.id && userNames[user.id]">
      <h1>{{ userNames[user.id] || 'Ismeretlen felhasználó' }}</h1>
    </ng-container>
  </header>
</div>

<div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button
            class="nav-link active"
            [class.active]="activeTab === 'statisztika'"
            (click)="setActiveTab('statisztika')"
          >Statisztika</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
            class="nav-link"
            [class.active]="activeTab === 'jelveny'"
            (click)="setActiveTab('jelveny')"
          >Jelvények</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
            class="nav-link"
            [class.active]="activeTab === 'barat'"
            (click)="setActiveTab('barat')"
          >Barátok</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
        class="nav-link"
        [class.active]="activeTab === 'bejegyzes'"
        (click)="setActiveTab('bejegyzes')"
      >Bejegyzéseim</button>
        </li>
        <li class="nav-item-tab" role="presentation">
            <button
        class="nav-link"
        [class.active]="activeTab === 'profile'"
        (click)="setActiveTab('profile')"
      >Profil módosítása</button>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" [class.d-none]="activeTab !== 'statisztika'" id="statisztika-tab-pane" role="tabpanel" aria-labelledby="statisztika-tab" tabindex="0">
      <app-profile-stat></app-profile-stat>
    </div>


    <div class="tab-pane" [class.d-none]="activeTab !== 'jelveny'" id="jelveny-tab-pane" role="tabpanel" aria-labelledby="jelveny-tab" tabindex="0">
      <app-profile-jelveny></app-profile-jelveny>
    </div>


    <div class="tab-pane" [class.d-none]="activeTab !== 'barat'" id="barat-tab-pane" role="tabpanel" aria-labelledby="barat-tab" tabindex="0">
      <app-profile-barat></app-profile-barat>
    </div>


    <div class="tab-pane" [class.d-none]="activeTab !== 'bejegyzes'" id="bejegyzes-tab-pane" role="tabpanel" aria-labelledby="bejegyzes-tab" tabindex="0">
      <app-profile-bejegyzes [onlyOwnPosts]="true" [readOnly]="true"></app-profile-bejegyzes>

    </div>


    <div class="tab-pane" [class.d-none]="activeTab !== 'profile'" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <app-profile-modositas></app-profile-modositas>
    </div>
</div>

<app-alert-modal
  [visible]="modalVisible"
  [type]="modalType"
  [message]="modalMessage"
  (close)="modalVisible = false">
</app-alert-modal>
