.sleep-tracker-card {
  max-width: 500px;
  margin: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 700px;


  h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;

    .wide-date,
    mat-form-field {
      min-width: 100%; // vagy konkrétan pl. 350px
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    input[type="number"],
    input[type="checkbox"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    input[type="checkbox"] {
      width: auto;
    }
  }

  .button-row {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      padding: 0.6rem 1.2rem;
      background-color: #627966;
      color: white;
      border: none;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      min-width: 100px;

      &:hover {
        background-color: #516753;
      }
    }
  }

}



  
.sleep-tracker-layout {
  display: flex;
  gap: 2rem; // térköz a két oszlop között
  align-items: flex-start;
}

.calendar-container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}