<div class="tracker-container">
  <div class="sleep-tracker-card">
    <h2>Alváskövető</h2>

    <div class="form-group">
      <label for="sleep-completed">Teljesítetted a napi alvást?</label>
      <input type="checkbox" id="sleep-completed" [(ngModel)]="sleepCompleted" />
    </div>

    <div class="form-group">
      <label for="sleep-amount">Alvás mennyisége (óra)</label>
      <input type="number" id="sleep-amount" [(ngModel)]="sleepAmount" placeholder="Pl. 7.5" />
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="wide-date">
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="sleepPicker" [(ngModel)]="sleepDate" />
        <mat-datepicker-toggle matSuffix [for]="sleepPicker"></mat-datepicker-toggle>
        <mat-datepicker #sleepPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button (click)="saveSleep()">Felvétel</button>
    </div>
  </div>


<div class="calendar">
    <div class="header">
      <button (click)="prevMonth()">
        <img src="./assets/icons/left_arrow.png" alt="előző">
      </button>
      <h2>{{ months[currentMonth] }} {{ currentYear }}</h2>
      <button (click)="nextMonth()">
        <img src="./assets/icons/right_arrow.png" alt="következő">
      </button>
    </div>

    <div class="weekdays">
      <div *ngFor="let day of weekdays">{{ day }}</div>
    </div>

    <div class="days">
      <div *ngFor="let day of calendarDays"
           class="day"
           [class.inactive]="day.inactive"
           (click)="showDayDetails(day)"
           (touchstart)="onTouchStart($event, day)"
           (touchend)="onTouchEnd($event, day)">
        <span>{{ day.date }}</span>

        <div class="dots">
          <div *ngFor="let dot of day.dots"
               class="dot"
               [ngStyle]="{ 'background-color': dot.color }"
               [title]="dot.title"></div>
        </div>
      </div>
    </div>
  </div>
</div>
